/****************************************\

01.general
02.helper
03.components
04.menu
05.home
06.features
07.portfolio
08.counter
09.pricing
10.team
11.client
12.blog
13.contact
14.footer
15.responsive

*****************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  font-family: 'Varela Round', sans-serif;
  color: #F40009 !important;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  line-height: 1.7;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.vertical-content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bg-overlay {
  background-color: rgba(36, 42, 53, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#15c7ae), to(#4252f9));
  background: linear-gradient(to bottom, #15c7ae, #4252f9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

hr {
  border-top: 1px solid #e7ebf3;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}
.mano{cursor: pointer;}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: bolder;
}

.title-heading {
  font-size: 28px;
}

.title-desc {
  max-width: 600px;
  margin: 0 auto;
}

.title-sub-heading {
  background: rgba(66, 82, 249, 0.2);
  padding: 7px 22px;
  display: inline-block;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.btn {
  padding: 12px 22px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-sm {
  padding: 8px 12px;
  font-size: 12px;
}

.shadow {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08) !important;
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08) !important;
}

.bg-primary {
  background-color: #4252f9 !important;
}

.bg-soft-primary {
  background-color: rgba(66, 82, 249, 0.1) !important;
}

.text-primary {
  color: #4252f9 !important;
}
.text-black {
  color: #1c1c1c !important;
}
.specIndi{
  line-height: 12px;
    font-size: 10px;
}
.border-primary {
  color: #4252f9 !important;
}

.icon-dual-primary {
  color: #4252f9;
  fill: rgba(66, 82, 249, 0.2);
}

.btn-soft-primary {
  background-color: rgba(66, 82, 249, 0.25) !important;
  color: #4252f9 !important;
}

.btn-soft-primary:hover, .btn-soft-primary:focus, .btn-soft-primary:active, .btn-soft-primary.active, .btn-soft-primary.focus, .btn-soft-primary:not(:disabled):not(.disabled):active, .btn-soft-primary:not(:disabled):not(.disabled):active:focus,
.btn-soft-primary .open > .dropdown-toggle.btn-primary {
  background: #2e40f8;
}

.btn-primary {
  background: #4252f9 !important;
  border-color: #4252f9 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open > .dropdown-toggle.btn-primary {
  background: #2e40f8;
  border-color: #2e40f8;
}

.btn-outline-primary {
  color: #4252f9;
  border-color: #4252f9;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open > .dropdown-toggle.btn-primary {
  background: #4252f9;
  border-color: #4252f9;
}

.bg-success {
  background-color: #15c7ae !important;
}

.bg-soft-success {
  background-color: rgba(21, 199, 174, 0.1) !important;
}

.text-success {
  color: #15c7ae !important;
}

.border-success {
  color: #15c7ae !important;
}

.icon-dual-success {
  color: #15c7ae;
  fill: rgba(21, 199, 174, 0.2);
}

.btn-soft-success {
  background-color: rgba(21, 199, 174, 0.25) !important;
  color: #15c7ae !important;
}

.btn-soft-success:hover, .btn-soft-success:focus, .btn-soft-success:active, .btn-soft-success.active, .btn-soft-success.focus, .btn-soft-success:not(:disabled):not(.disabled):active, .btn-soft-success:not(:disabled):not(.disabled):active:focus,
.btn-soft-success .open > .dropdown-toggle.btn-primary {
  background: #13b59e;
}

.btn-success {
  background: #15c7ae !important;
  border-color: #15c7ae !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success .open > .dropdown-toggle.btn-primary {
  background: #13b59e;
  border-color: #13b59e;
}

.btn-outline-success {
  color: #15c7ae;
  border-color: #15c7ae;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.focus, .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success .open > .dropdown-toggle.btn-primary {
  background: #15c7ae;
  border-color: #15c7ae;
}

.bg-info {
  background-color: #10a6ba !important;
}

.bg-soft-info {
  background-color: rgba(16, 166, 186, 0.1) !important;
}

.text-info {
  color: #10a6ba !important;
}

.border-info {
  color: #10a6ba !important;
}

.icon-dual-info {
  color: #10a6ba;
  fill: rgba(16, 166, 186, 0.2);
}

.btn-soft-info {
  background-color: rgba(16, 166, 186, 0.25) !important;
  color: #10a6ba !important;
}

.btn-soft-info:hover, .btn-soft-info:focus, .btn-soft-info:active, .btn-soft-info.active, .btn-soft-info.focus, .btn-soft-info:not(:disabled):not(.disabled):active, .btn-soft-info:not(:disabled):not(.disabled):active:focus,
.btn-soft-info .open > .dropdown-toggle.btn-primary {
  background: #0e95a7;
}

.btn-info {
  background: #10a6ba !important;
  border-color: #10a6ba !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info .open > .dropdown-toggle.btn-primary {
  background: #0e95a7;
  border-color: #0e95a7;
}

.btn-outline-info {
  color: #10a6ba;
  border-color: #10a6ba;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.focus, .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info .open > .dropdown-toggle.btn-primary {
  background: #10a6ba;
  border-color: #10a6ba;
}

.bg-warning {
  background-color: #f9ad28 !important;
}

.bg-soft-warning {
  background-color: rgba(249, 173, 40, 0.1) !important;
}

.text-warning {
  color: #f9ad28 !important;
}

.border-warning {
  color: #f9ad28 !important;
}

.icon-dual-warning {
  color: #f9ad28;
  fill: rgba(249, 173, 40, 0.2);
}

.btn-soft-warning {
  background-color: rgba(249, 173, 40, 0.25) !important;
  color: #f9ad28 !important;
}

.btn-soft-warning:hover, .btn-soft-warning:focus, .btn-soft-warning:active, .btn-soft-warning.active, .btn-soft-warning.focus, .btn-soft-warning:not(:disabled):not(.disabled):active, .btn-soft-warning:not(:disabled):not(.disabled):active:focus,
.btn-soft-warning .open > .dropdown-toggle.btn-primary {
  background: #f8a514;
}

.btn-warning {
  background: #f9ad28 !important;
  border-color: #f9ad28 !important;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning .open > .dropdown-toggle.btn-primary {
  background: #f8a514;
  border-color: #f8a514;
}

.btn-outline-warning {
  color: #f9ad28;
  border-color: #f9ad28;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.focus, .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning .open > .dropdown-toggle.btn-primary {
  background: #f9ad28;
  border-color: #f9ad28;
}

.bg-danger {
  background-color: #eb466d !important;
}

.bg-soft-danger {
  background-color: rgba(235, 70, 109, 0.1) !important;
}

.text-danger {
  color: #eb466d !important;
}

.border-danger {
  color: #eb466d !important;
}

.icon-dual-danger {
  color: #eb466d;
  fill: rgba(235, 70, 109, 0.2);
}

.btn-soft-danger {
  background-color: rgba(235, 70, 109, 0.25) !important;
  color: #eb466d !important;
}

.btn-soft-danger:hover, .btn-soft-danger:focus, .btn-soft-danger:active, .btn-soft-danger.active, .btn-soft-danger.focus, .btn-soft-danger:not(:disabled):not(.disabled):active, .btn-soft-danger:not(:disabled):not(.disabled):active:focus,
.btn-soft-danger .open > .dropdown-toggle.btn-primary {
  background: #e9345e;
}

.btn-danger {
  background: #eb466d !important;
  border-color: #eb466d !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.focus, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger .open > .dropdown-toggle.btn-primary {
  background: #e9345e;
  border-color: #e9345e;
}

.btn-outline-danger {
  color: #eb466d;
  border-color: #eb466d;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.focus, .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger .open > .dropdown-toggle.btn-primary {
  background: #eb466d;
  border-color: #eb466d;
}

.bg-orange {
  background-color: #d88d0d !important;
}

.bg-soft-orange {
  background-color: rgba(216, 141, 13, 0.1) !important;
}

.text-orange {
  color: #d88d0d !important;
}

.border-orange {
  color: #d88d0d !important;
}

.icon-dual-orange {
  color: #d88d0d;
  fill: rgba(216, 141, 13, 0.2);
}

.btn-soft-orange {
  background-color: rgba(216, 141, 13, 0.25) !important;
  color: #d88d0d !important;
}

.btn-soft-orange:hover, .btn-soft-orange:focus, .btn-soft-orange:active, .btn-soft-orange.active, .btn-soft-orange.focus, .btn-soft-orange:not(:disabled):not(.disabled):active, .btn-soft-orange:not(:disabled):not(.disabled):active:focus,
.btn-soft-orange .open > .dropdown-toggle.btn-primary {
  background: #c5800c;
}

.btn-orange {
  background: #d88d0d !important;
  border-color: #d88d0d !important;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .btn-orange.focus, .btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange .open > .dropdown-toggle.btn-primary {
  background: #c5800c;
  border-color: #c5800c;
}

.btn-outline-orange {
  color: #d88d0d;
  border-color: #d88d0d;
}

.btn-outline-orange:hover, .btn-outline-orange:focus, .btn-outline-orange:active, .btn-outline-orange.active, .btn-outline-orange.focus, .btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.btn-outline-orange .open > .dropdown-toggle.btn-primary {
  background: #d88d0d;
  border-color: #d88d0d;
}

.bg-dark {
  background-color: #F40009 !important;
}

.bg-soft-dark {
  background-color: rgba(2, 35, 52, 0.1) !important;
}

.text-dark {
  color: #F40009 !important;
}

.border-dark {
  color: #F40009 !important;
}

.icon-dual-dark {
  color: #F40009;
  fill: rgba(2, 35, 52, 0.2);
}

.btn-soft-dark {
  background-color: rgba(2, 35, 52, 0.25) !important;
  color: #F40009 !important;
}

.btn-soft-dark:hover, .btn-soft-dark:focus, .btn-soft-dark:active, .btn-soft-dark.active, .btn-soft-dark.focus, .btn-soft-dark:not(:disabled):not(.disabled):active, .btn-soft-dark:not(:disabled):not(.disabled):active:focus,
.btn-soft-dark .open > .dropdown-toggle.btn-primary {
  background: #011620;
}

.btn-dark {
  background: #F40009 !important;
  border-color: #F40009 !important;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus, .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark .open > .dropdown-toggle.btn-primary {
  background: #011620;
  border-color: #011620;
}

.btn-outline-dark {
  color: #F40009;
  border-color: #F40009;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.focus, .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark .open > .dropdown-toggle.btn-primary {
  background: #F40009;
  border-color: #F40009;
}

.bg-muted {
  background-color: #787a7d !important;
}

.bg-soft-muted {
  background-color: rgba(120, 122, 125, 0.1) !important;
}

.text-muted {
  color: #F40009 !important;
}

.border-muted {
  color: #787a7d !important;
}

.icon-dual-muted {
  color: #787a7d;
  fill: rgba(120, 122, 125, 0.2);
}

.btn-soft-muted {
  background-color: rgba(120, 122, 125, 0.25) !important;
  color: #787a7d !important;
}

.btn-soft-muted:hover, .btn-soft-muted:focus, .btn-soft-muted:active, .btn-soft-muted.active, .btn-soft-muted.focus, .btn-soft-muted:not(:disabled):not(.disabled):active, .btn-soft-muted:not(:disabled):not(.disabled):active:focus,
.btn-soft-muted .open > .dropdown-toggle.btn-primary {
  background: #6e7073;
}

.btn-muted {
  background: #787a7d !important;
  border-color: #787a7d !important;
}

.btn-muted:hover, .btn-muted:focus, .btn-muted:active, .btn-muted.active, .btn-muted.focus, .btn-muted:not(:disabled):not(.disabled):active, .btn-muted:not(:disabled):not(.disabled):active:focus,
.btn-muted .open > .dropdown-toggle.btn-primary {
  background: #6e7073;
  border-color: #6e7073;
}

.btn-outline-muted {
  color: #787a7d;
  border-color: #787a7d;
}

.btn-outline-muted:hover, .btn-outline-muted:focus, .btn-outline-muted:active, .btn-outline-muted.active, .btn-outline-muted.focus, .btn-outline-muted:not(:disabled):not(.disabled):active, .btn-outline-muted:not(:disabled):not(.disabled):active:focus,
.btn-outline-muted .open > .dropdown-toggle.btn-primary {
  background: #787a7d;
  border-color: #787a7d;
}

.bg-purple {
  background-color: #9261c6 !important;
}

.bg-soft-purple {
  background-color: rgba(146, 97, 198, 0.1) !important;
}

.text-purple {
  color: #9261c6 !important;
}

.border-purple {
  color: #9261c6 !important;
}

.icon-dual-purple {
  color: #9261c6;
  fill: rgba(146, 97, 198, 0.2);
}

.btn-soft-purple {
  background-color: rgba(146, 97, 198, 0.25) !important;
  color: #9261c6 !important;
}

.btn-soft-purple:hover, .btn-soft-purple:focus, .btn-soft-purple:active, .btn-soft-purple.active, .btn-soft-purple.focus, .btn-soft-purple:not(:disabled):not(.disabled):active, .btn-soft-purple:not(:disabled):not(.disabled):active:focus,
.btn-soft-purple .open > .dropdown-toggle.btn-primary {
  background: #8852c1;
}

.btn-purple {
  background: #9261c6 !important;
  border-color: #9261c6 !important;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .btn-purple.focus, .btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled):active:focus,
.btn-purple .open > .dropdown-toggle.btn-primary {
  background: #8852c1;
  border-color: #8852c1;
}

.btn-outline-purple {
  color: #9261c6;
  border-color: #9261c6;
}

.btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple:active, .btn-outline-purple.active, .btn-outline-purple.focus, .btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled):active:focus,
.btn-outline-purple .open > .dropdown-toggle.btn-primary {
  background: #9261c6;
  border-color: #9261c6;
}

.bg-pink {
  background-color: #f12699 !important;
}

.bg-soft-pink {
  background-color: rgba(241, 38, 153, 0.1) !important;
}

.text-pink {
  color: #f12699 !important;
}

.border-pink {
  color: #f12699 !important;
}

.icon-dual-pink {
  color: #f12699;
  fill: rgba(241, 38, 153, 0.2);
}

.btn-soft-pink {
  background-color: rgba(241, 38, 153, 0.25) !important;
  color: #f12699 !important;
}

.btn-soft-pink:hover, .btn-soft-pink:focus, .btn-soft-pink:active, .btn-soft-pink.active, .btn-soft-pink.focus, .btn-soft-pink:not(:disabled):not(.disabled):active, .btn-soft-pink:not(:disabled):not(.disabled):active:focus,
.btn-soft-pink .open > .dropdown-toggle.btn-primary {
  background: #f01390;
}

.btn-pink {
  background: #f12699 !important;
  border-color: #f12699 !important;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .btn-pink.focus, .btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink .open > .dropdown-toggle.btn-primary {
  background: #f01390;
  border-color: #f01390;
}

.btn-outline-pink {
  color: #f12699;
  border-color: #f12699;
}

.btn-outline-pink:hover, .btn-outline-pink:focus, .btn-outline-pink:active, .btn-outline-pink.active, .btn-outline-pink.focus, .btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-pink:not(:disabled):not(.disabled):active:focus,
.btn-outline-pink .open > .dropdown-toggle.btn-primary {
  background: #f12699;
  border-color: #f12699;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-soft-white {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.text-white {
  color: #ffffff !important;
}

.border-white {
  color: #ffffff !important;
}

.icon-dual-white {
  color: #ffffff;
  fill: rgba(255, 255, 255, 0.2);
}

.btn-soft-white {
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: #ffffff !important;
}

.btn-soft-white:hover, .btn-soft-white:focus, .btn-soft-white:active, .btn-soft-white.active, .btn-soft-white.focus, .btn-soft-white:not(:disabled):not(.disabled):active, .btn-soft-white:not(:disabled):not(.disabled):active:focus,
.btn-soft-white .open > .dropdown-toggle.btn-primary {
  background: whitesmoke;
}

.btn-white {
  background: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.focus, .btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white .open > .dropdown-toggle.btn-primary {
  background: whitesmoke;
  border-color: whitesmoke;
}

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white.active, .btn-outline-white.focus, .btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-white .open > .dropdown-toggle.btn-primary {
  background: #ffffff;
  border-color: #ffffff;
}

.bg-light {
  background-color: #f8fbff !important;
}

.bg-soft-light {
  background-color: rgba(248, 251, 255, 0.1) !important;
}

.text-light {
  color: #f8fbff !important;
}

.border-light {
  color: #f8fbff !important;
}

.icon-dual-light {
  color: #f8fbff;
  fill: rgba(248, 251, 255, 0.2);
}

.btn-soft-light {
  background-color: rgba(248, 251, 255, 0.25) !important;
  color: #f8fbff !important;
}

.btn-soft-light:hover, .btn-soft-light:focus, .btn-soft-light:active, .btn-soft-light.active, .btn-soft-light.focus, .btn-soft-light:not(:disabled):not(.disabled):active, .btn-soft-light:not(:disabled):not(.disabled):active:focus,
.btn-soft-light .open > .dropdown-toggle.btn-primary {
  background: #e4efff;
}

.btn-light {
  background: #f8fbff !important;
  border-color: #f8fbff !important;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .btn-light.focus, .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light .open > .dropdown-toggle.btn-primary {
  background: #e4efff;
  border-color: #e4efff;
}

.btn-outline-light {
  color: #f8fbff;
  border-color: #f8fbff;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.focus, .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light .open > .dropdown-toggle.btn-primary {
  background: #f8fbff;
  border-color: #f8fbff;
}

.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: #F40009;
  font-size: 15px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 10px;
  font-weight: 500;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #F40009;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #4252f9;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

.navbar-button {
  margin-left: 20px;
}

.logo .logo-light {
  display: inline-block;
}

.logo .logo-dark {
  display: none;
}

.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.nav-sticky .logo .logo-light {
  display: none;
}

/*---NAVBAR LIGHT--*/
.navbar-light .navbar-nav li a {
  color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-light .navbar-nav li.active a,
.navbar-light .navbar-nav li:hover,
.navbar-light .navbar-nav li:active {
  color: #ffffff !important;
}

.navbar-light .navbar-toggler {
  border: none;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 20px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 10px 0px rgba(38, 107, 193, 0.08);
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #ffffff;
}

.nav-sticky .logo {
  color: #F40009 !important;
}

.nav-sticky .navbar-nav li a {
  color: #F40009 !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #F40009 !important;
  font-weight: bolder;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

/* .bg-home {
  background-image: url(../img/bg-1.png);
  background-position: center center;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
} */

.bg-home {
  background-image: url(../img/bg-1.png);
  /* background-position: center center; */
  background-size: cover;
  position: relative;
  /* height: 100vh; */
  /* display: -webkit-box; */
  display: -ms-flexbox;
  /* display: flex; */
  background-repeat: no-repeat;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-title {
  font-size: 40px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  width: 100%;
}


.sp-color1{
  background-color: #FFCD02;
  color: #F70000 !important;
}
.border_espe1{
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
  border-bottom-left-radius: 0rem!important;
  border-bottom-right-radius: 0rem!important;
}
.border_espe2{
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
  border-top-left-radius: 0rem!important;
  border-top-right-radius: 0rem!important;
}

.password-icon {
  float: right;
  position: relative;
  margin: -30px 10px 0 0;
  cursor: pointer;
}
.desabilitado{
  opacity: 0.7;
  pointer-events: none;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  /* padding: 6px 12px; */
  cursor: pointer;
}
.w_esp {
  width: 30%;
}

@media (min-width: 1680px) {
  .slider {
    width: 170%;
  }
}

.slider .swiper-slide img {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
  border-radius: 10px;
  max-height: 630px;
  margin: 20px;
}

.watch-video a span {
  padding-left: 10px;
  position: relative;
  top: -2px;
}

.play-icon-circle {
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background: #4252f9;
  font-size: 22px;
}

.home-img-2 img {
  position: relative;
  top: 100px;
  z-index: 1;
}

.home-video-2 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.bg-home-3 {
  padding: 280px 0px 280px 0px;
  background-image: url(../images/overlay-1.png);
  background-position: center;
}

.home-shape {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}

.home-shape img {
  width: 100%;
  height: auto;
}

.home-slider {
  position: relative;
}

.home-slider .carousel-control-next,
.carousel-control-prev {
  width: 6%;
}

.home-slider .carousel-item,
.home-slider .carousel {
  height: 100vh;
  width: 100%;
}

.home-slider .carousel-item {
  background-position: center center;
  background-size: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #4252f9;
  background-size: 100% 40%;
  border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.bg-home-6 {
  position: relative;
  padding: 180px 0px 150px 0px;
  background-image: url(../images/bg-1.png);
  background-position: center center;
}

.flex-control-paging li a {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
  height: 12px;
  width: 12px;
  opacity: 1;
  border: 2px solid #ffffff !important;
  background: #ffffff;
}

.flex-control-paging li a:hover {
  background: #ffffff;
}

.main-slider .flex-control-paging li a.flex-active {
  background-color: transparent;
}

.flex-control-nav {
  bottom: -70px;
}

.bg-home-7 {
  background-image: url(../images/bg-3.jpg);
  background-position: bottom;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.particels-slidero {
  position: relative;
  z-index: 1;
}

.home-registration-form {
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

.home-registration-form .registration-form label {
  font-size: 12px;
}

.registration-input-box {
  border: none;
  border-radius: 0px;
  color: #787a7d;
  border-bottom: 1px solid #c5c5c5;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
}

.registration-input-box:focus {
  border-color: #4252f9;
}

.account-home-btn {
  position: absolute;
  top: 18px;
  right: 28px;
  z-index: 1;
}

.bg-account-pages {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/overlay-2.png);
}

.bg-account-pages .form-box {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

.features-box {
  position: relative;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
  padding: 35px 30px;
}

.features-box .features-title {
  -webkit-text-stroke: 2px #4252f9;
  color: #ffffff;
  font-size: 40px;
}

.features-box .features-img img {
  width: 50px;
  position: absolute;
  top: 40px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background: #ffffff;
  opacity: 0.1;
}

.features-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.features-box:hover .features-img img {
  left: 30px;
  opacity: 1;
}

.container-filter {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.container-filter li {
  list-style: none;
  display: inline-block;
}

.container-filter a {
  display: block;
  font-size: 12px;
  border: 1px solid #e6effe;
  padding: 0px 15px;
  margin: 5px 3px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 30px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 3px;
  color: #F40009;
}

.container-filter a:hover {
  color: #ffffff !important;
  background-color: #4252f9;
  border: 1px solid #4252f9;
}

.container-filter a.active {
  color: #ffffff;
  background-color: #4252f9;
  border: 1px solid #4252f9;
}

.item-box {
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

.item-box a {
  display: inline-block;
}

.item-box .item-container {
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.item-box:hover .item-container {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.progress {
  background: #e6effe;
}

.search-form input {
  padding: 17px 20px;
  width: 100%;
  font-size: 15px;
  color: #787a7d !important;
  border: none;
  outline: none !important;
  padding-right: 160px;
  padding-left: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

.search-form button {
  position: absolute;
  top: 7px;
  right: 7px;
  outline: none !important;
  border-radius: 5px;
  font-size: 15px;
  padding: 9px 30px;
}

.search-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.irs--round .irs-bar, .irs--round .irs-to, .irs--round .irs-from, .irs--round .irs-single {
  background: #4252f9 !important;
  font-size: 11px;
}

.irs--round .irs-to:before, .irs--round .irs-from:before, .irs--round .irs-single:before {
  border-top-color: #4252f9;
}

.irs--round .irs-line {
  background: #e6effe;
  border-color: #f8fbff;
}

.irs--round .irs-grid-text {
  font-size: 11px;
  color: #787a7d;
}

.irs--round .irs-min, .irs--round .irs-max {
  color: #787a7d;
  background: #e6effe;
  font-size: 11px;
}

.irs--round .irs-handle {
  border: 2px solid #4252f9;
  width: 20px;
  height: 20px;
  top: 27px;
  background-color: #ffffff !important;
}

.pricing-box {
  padding: 30px 24px;
  position: relative;
}

.pricing-badge {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.pricing-badge .badge {
  float: right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  font-weight: 500;
  color: #ffffff;
  background: #4252f9;
}

.nav-tabs > li > a, .nav-pills > li > a {
  color: #F40009;
}

.nav-pills > a {
  color: #F40009;
}

.pricing-tab-border {
  border: 1px solid #e6effe;
}

.nav-link.active,
.show > .nav-link {
  background-color: #4252f9 !important;
}

.nav-tabs-custom {
  border-bottom: 2px solid #e6effe;
}

.nav-tabs-custom .nav-item {
  position: relative;
  color: #F40009;
}

.nav-tabs-custom .nav-item .nav-link {
  border: none;
}

.nav-tabs-custom .nav-item .nav-link::after {
  content: "";
  background: #4252f9;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-tabs-custom .nav-item .nav-link.active {
  color: #4252f9;
}

.nav-tabs-custom .nav-item .nav-link.active:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-box {
  position: relative;
}

.team-box .team-img img {
  width: 140px;
  height: 140px;
}

.team-box .team-border {
  border-top: 1px solid #e6effe;
  padding: 12px 0px;
}

.team-box .team-social {
  position: absolute;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  left: 0;
  right: 0;
}

.team-box .team-social i {
  width: 33px;
  height: 33px;
  display: inline-block;
  line-height: 33px;
  background-color: #4252f9;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 2px;
}

.team-box .team-social i:hover {
  color: #ffffff;
  background-color: #4252f9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.team-box:hover .team-social {
  opacity: 1;
  background-color: #ffffff;
  margin-top: -42px;
}

.bg-testimonial {
  background: url(../images/bg-1.png);
  background-position: center;
}

.client-box {
  padding: 40px;
}

.client-box:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f8fbff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: transparent #f8fbff #f8fbff transparent;
  left: 0;
  right: 0;
  margin: 0px auto;
  margin-top: 24px;
  z-index: 9;
}

.client-img img {
  width: 70px;
}

.client-icon i {
  font-size: 100px;
  position: absolute;
  margin-top: -110px;
  right: 20px;
}

.blog-box {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

.blog-user img {
  width: 36px;
}

.blog-user-box {
  width: 176px;
  padding: 7px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
          box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
  position: relative;
  margin-top: -50px;
}

textarea.form-control {
  height: auto !important;
}

.contact-social i {
  width: 34px;
  height: 34px;
  line-height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #4252f9;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

.contact-social i:hover {
  background-color: #ffffff;
  color: #4252f9;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.error {
  margin: 8px 0px;
  display: none;
  color: #eb466d;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #eb466d;
  border: 2px solid #eb466d;
}

.contact-loader {
  display: none;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

.custom-form .form-control {
  height: 42px;
  font-size: 15px;
  padding-left: 15px;
  border-color: #e6eef9;
  color: #787a7d;
  background-color: #f8fbff;
}

.custom-form .form-control:focus {
  border-color: #4252f9;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-form .contact-lable {
  font-weight: 500;
  color: #787a7d;
}

.footer-link a {
  color: #787a7d;
  line-height: 38px;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 500;
}

.footer-link a:hover {
  color: #4252f9;
}

.social-icons-list li {
  margin-bottom: .5rem;
}

.social-icons-list li a {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 15px;
  color: #F40009;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #e4efff;
  border-radius: 50%;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-icons-list li a:hover {
  background-color: #4252f9;
  color: #ffffff;
}

.bg_body_col{
  background-color: #f40009;
}
.spHeight {
  min-height: 140px;
  height: 140px;
}
@media (min-width: 361px) and (max-width: 768px) {
  .spHeight {
    min-height: 100px;
    height: 100px;
  }
  .navbar-custom {
    margin-top: 0px;
    padding: 15px 0px !important;
    -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
    background: #ffffff;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0px;
    color: #F40009 !important;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #4252f9 !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #F40009;
  }
  .home-title {
    font-size: 30px;
  }
  .logo .logo-light {
    display: none;
  }
  .logo .logo-dark {
    display: inline-block;
  }
  .bg-home {
    height: auto;
    background-image: url(../img/bg-1.png);
    background-size: contain;
    /* padding: 100px 0px 100px 0px; */
  }
  
  .navbar-button {
    margin-top: 15px;
    margin-left: 0px;
  }
}

@media (max-width: 1024px) {
  .slider {
    width: 100%;
  }
  .bg-home {
    height: auto;
    background-image: url(../img/bg-1.png);
    background-size: cover;
    /* padding: 100px 0px 100px 0px; */
  }
}
@media (max-width: 360px) {
  .spHeight {
    min-height: 20px;
    height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */

.errorlog{
  list-style: none;
}